<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The best gallery ever!</title>
    <link href="style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <div id="container">
            <div id="arrowholderleft">
                <a class="arrow" href="#" onclick="arrowClick('left')">
                    <img id="" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNC45MDYiIGhlaWdodD0iMjIuNzUiIHZpZXdCb3g9IjAgMCAxNC45MDYgMjIuNzUiPgogIDxkZWZzPgogICAgPHN0eWxlPgogICAgICAuY2xzLTEgewogICAgICAgIGZpbGw6ICM0ZTRlNGU7CiAgICAgICAgZmlsbC1ydWxlOiBldmVub2RkOwogICAgICB9CiAgICA8L3N0eWxlPgogIDwvZGVmcz4KICA8cGF0aCBpZD0iU2hhcGVfM19jb3B5IiBkYXRhLW5hbWU9IlNoYXBlIDMgY29weSIgY2xhc3M9ImNscy0xIiBkPSJNMTI5LjAxLDMxMS4xMDdhMi40NSwyLjQ1LDAsMCwxLTMuNTM2LDBMMTE0Ljg2OCwzMDAuNWwxMC42MDYtMTAuNjA3YTIuNSwyLjUsMCwxLDEsMy41MzYsMy41MzZsLTcuMDcxLDcuMDcxLDcuMDcxLDcuMDcxQTIuNDQ5LDIuNDQ5LDAsMCwxLDEyOS4wMSwzMTEuMTA3WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTExNC44NzUgLTI4OS4xMjUpIi8+Cjwvc3ZnPgo=">
                </a>
            </div>
            <div id="picture">
                <div class="bigimage">
                    <div class="text-holder">
                        <h3 class="title"></h3>
                        <p class="description"></p>
                    </div>
                </div>
            </div>
            <div id="arrowholderright">
                <a class="arrow" href="#" onclick="arrowClick('right')">
                    <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNC45MDYiIGhlaWdodD0iMjIuNzUiIHZpZXdCb3g9IjAgMCAxNC45MDYgMjIuNzUiPgogIDxkZWZzPgogICAgPHN0eWxlPgogICAgICAuY2xzLTEgewogICAgICAgIGZpbGw6ICM0ZTRlNGU7CiAgICAgICAgZmlsbC1ydWxlOiBldmVub2RkOwogICAgICB9CiAgICA8L3N0eWxlPgogIDwvZGVmcz4KICA8cGF0aCBpZD0iU2hhcGVfM19jb3B5IiBkYXRhLW5hbWU9IlNoYXBlIDMgY29weSIgY2xhc3M9ImNscy0xIiBkPSJNMTI5LjAxLDMxMS4xMDdhMi40NSwyLjQ1LDAsMCwxLTMuNTM2LDBMMTE0Ljg2OCwzMDAuNWwxMC42MDYtMTAuNjA3YTIuNSwyLjUsMCwxLDEsMy41MzYsMy41MzZsLTcuMDcxLDcuMDcxLDcuMDcxLDcuMDcxQTIuNDQ5LDIuNDQ5LDAsMCwxLDEyOS4wMSwzMTEuMTA3WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTExNC44NzUgLTI4OS4xMjUpIi8+Cjwvc3ZnPgo=">
                </a>
            </div>
        </div>
        <div id="thumbnails">
            <ul>
                <% for (var item in pictures) {
                    if (Object.prototype.hasOwnProperty.call(pictures, item)) { %>
                    <li>
                        <div class="thumbholder" onmouseleave="removeTooltip()" onmouseover="showTooltip(this)">
                            <span class="tooltip"><%=pictures[item].title%></span>
                            <img class="thumbimage" id=<%- pictures[item].id %> data-title="
                            <%- pictures[item].title %>" data-desc="
                                <%- pictures[item].desc %>" src='
                                    <%- pictures[item].url %>'>
                        </div>
                    </li>
                    <%   }
                  } %>
            </ul>
        </div>
    </div>
</body>

<!-- JS -->
<script type="text/javascript">
    const thumbnails = document.querySelectorAll('.thumbimage');
    const firstElement = document.getElementById('0');
    handleThumbnailClick(firstElement);

    const elementsCount = (<%= size %>);
    document.addEventListener('keydown', handleKeyDown);

    function handleKeyDown(e) {
        if (e.code == "ArrowRight") {
            arrowClick("right")
        } else if (e.code == "ArrowLeft") {
            arrowClick("left")
        }
    }
    /* Event listeners for thumbnails */
    for (let i = 0; i < thumbnails.length; i++) {
        thumbnails[i].onclick = () => {
            handleThumbnailClick(thumbnails[i]);
        };
    }

    function removeTooltip() {
        const tooltips = document.getElementsByClassName('tooltip');
        for (let i = 0; i < tooltips.length; i++) {
            tooltips[i].style.display = "none";
        };
    }

    function showTooltip(element) {
        element.childNodes[1].style.display = "block";
    }

    function handleThumbnailClick(element) {
        const bigimage = document.querySelector('.bigimage');
        const activeThumbnail = document.querySelector('.thumbholder.active');
        const title = document.querySelector('.text-holder .title');
        const desc = document.querySelector('.text-holder .description');
        const isActive = element.parentElement;

        if (activeThumbnail) activeThumbnail.classList.remove("active");
        isActive.classList.add("active");

        /* Change image */
        bigimage.style.backgroundImage = "url(" + element.src + ")";
        bigimage.setAttribute('id', element.getAttribute('id'));

        /* Change Title */
        title.innerHTML = element.getAttribute('data-title');

        /* Change Desc */
        desc.innerHTML = element.getAttribute('data-desc');
    }

    function arrowClick(direction) {
        const bigimage = document.querySelector('.bigimage');
        let id = bigimage.getAttribute('id');

        if (direction == 'left') {

            if (id != 0) {
                id--;
            } else {
                id = elementsCount - 1;
            }
        } else {

            if (id != elementsCount - 1) {
                id++;
            } else {
                id = 0;
            }
        }

        const target = document.getElementById(id);
        handleThumbnailClick(target);
    }
</script>

</html>